<div class="container">
  <h2>How many seats you need?</h2>
    <%= form_for @pool do |f| %>
    <p>
      <%= f.label "number of seats" %>
      <%= f.text_field :seats %>
    </p>
      <%= f.button :submit %>  
    </p>
    <% end %>
  </form>
</div>