#container-fluid{
	background-image: url("carpooling.jpg");
	background-size: cover;
	min-height: 700px;
}
.form-inline{
	background-color: transparent;
}
/*.navbar-inverse{
	opacity: .60;

}*/

.post {
	background-color: aliceblue;
	width: auto;
	margin:5px auto;	
}


.post .table{

}